<!DOCTYPE html>
<html>


<head>
	<?php include CUR_VIEW_PATH."public/head.html"?>
	 <!--编辑器-->
	 <!-- 编辑器配置文件 -->
     <script type="text/javascript" src="application/views/admin/js/ueditor/ueditor.config.js"></script>
     <!-- 编辑器源码文件 -->
     <script type="text/javascript" src="application/views/admin/js/ueditor/ueditor.all.js"></script>
	<script type="text/javascript" src="public/layer/layer.js"></script>
	<script type="text/javascript" src="public/layui/layui.js"></script>
	<link rel="stylesheet" type="text/css" href="public/layui/css/layui.css">

     <!-- 实例化编辑器 -->
	<style>
		td{
			height: 50px;
		}
	</style>
    
</head>

<body class="body-color">
	<header>
		<?php include CUR_VIEW_PATH."public/header.html"?>

	</header>
	<!--侧边菜单栏-->
	<aside class="side-nav">
		<?php include CUR_VIEW_PATH."public/aside.html"?>
	</aside>
	<!--侧边菜单栏 end-->

	<!--主体部分-->
	<section class="body-content">
		<!--当前位置-->
		<div class="site-location">
			&nbsp;&nbsp;
			<span class="ficon ficon-weizhi"></span>&nbsp;<a href="index.php?p=admin&c=index&a=index">用户首页</a>
			&nbsp;&gt;&nbsp;<a href="index.php?p=admin&c=moxing&a=index">模型管理</a>
			&nbsp;&gt;&nbsp;<a href="index.php?p=admin&c=autotable&a=index&model_id=<?php echo $_GET['model_id'] ?>">表单管理</a>
			&nbsp;&gt;&nbsp;<a href="#">添加信息</a>
		</div>
		
		<!--当前位置 end-->
		<br/>
		
    <form method="post" action="index.php?p=admin&c=toupiao&a=two1&action_id=<?php echo $_GET['id'] ?>" name='theForm' id="theForm" enctype="multipart/form-data">
		<section class="pos-relative">
			<!--发布文章中间部分-->
			<article class="article-edit">
				<!--上边信息-->
				<div class="article-top">
				 	 
				    <table class="a-info">
						<a href="javascript:;" id="add1" class="btn btn-default" style="color: red">添加选项</a>
                            <tr>
					     	<td width="100">投票候选项</td>
						    <td id="add">
								<data>
							<input type="hidden" value="122" id="neirong1" name="neirong[]">
							<input type="hidden" value="231" id="stroy" name="stroy[]">
							<input type="hidden" value="231" id="header1" name="header[]">
							<input style="width: 200px" name="biaoti[]" type="text" class="input"><a href="javascript:;" id="neirong" title="描述/故事"><span class="ficon ficon-xiugai"></span></a><a href="javascript:;" id="header" title="封面上传"><span class="ficon ficon-tianjia"></span></a>
									<a href="javascript:;" id="del" title="删除"><span class="ficon  ficon-shanchu"></span></a>
								</data>
					  	    </td>
							</tr>
						<tr>
							<td>投票选项分页</td>
							<td>
								<input name="fy" type="radio" value="1">分页
								<input name="fy" type="radio" value="2">不分页
							</td>
						</tr>
						<tr>
							<td>启用搜索功能</td>
							<td>
								<input name="sousuo" type="radio" value="1">不启用
								<input name="sousuo" type="radio" value="2">启用
							</td>
						</tr>
						<tr>
							<td>排版设置</td>
							<td>
								每行显示选项数(电脑版)&nbsp;
								<input name="dnpx" type="radio" value="2">2&nbsp;
								<input name="dnpx" type="radio" value="3">3&nbsp;
								<input name="dnpx" type="radio" value="4">4&nbsp;
								<input name="dnpx" type="radio" value="5">5&nbsp;<br>
								每行显示选项数(移动版)&nbsp;
								<input name="sjpx" type="radio" value="1">1&nbsp;
								<input name="sjpx" type="radio" value="2">2&nbsp;
								<input name="sjpx" type="radio" value="3">3&nbsp;
							</td>
						</tr>
					</table>
			</article>
			<!--发布文章 侧边-->
			<aside class="article-side">
				<div class="box">
				
				<!-- 时间部分 -->
				<?php foreach($filedLists as $v){ ?>
                         
                    <?php if($v['u7']=="时间框" ){ ?>
                    
					    <?php echo $this->getKj($v['u7'],$v['u2'],$v['u1'] ,"",$v['u3'] ,$v['id']) ?>
                          
				   <?php } ?>
                       
               <?php } ?>  
				    
				<!-- 数字部分 -->  
			   <?php foreach($filedLists as $v){ ?>
                         
                    <?php if($v['u7']=="数字" ){ ?>
                    
                        <?php echo $this->getKj($v['u7'],$v['u2'],$v['u1'] ,"",$v['u3'] ,$v['id']) ?>
                    
                     <?php } ?>
                       
               <?php } ?>  
               
               
				 
				</div>
			</aside>
			
			<p>
				<tr>
				<th></th>
				<td>
						<a href="#" class="btn btn-blue" onclick="$('#theForm').submit()"><em class="ficon ficon-queren"></em> 确认操作</a>&nbsp;&nbsp;
						<a href="#" class="btn btn-green" onclick="if(confirm('确定清空重填?')==false)return false;$('#theForm').find('input').val('')"><em class="ficon ficon-shanchu"></em> 清空重填</a>
			   </td>
			   </tr>
			</p>
			
		</section>
     </form>

<footer>
	<?php include CUR_VIEW_PATH."public/footer.html"?>
</footer>
</section>

<p class="clear"></p>

<script src="application/views/admin/js/wow.min.js" type="text/javascript"></script>
<script src="application/views/admin/js/common.js" type="text/javascript"></script>

<!--wow 初始化-->
<script>
	if(!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
		new WOW().init();
	};
</script>
<script type="text/javascript">
	var a;
	var b;
			$(".a-info-ss").click(function(){
				$(".a-info .collapse").fadeToggle();
			});
	        $('#add1').click(function () {
				$('<data><input type="hidden" value="133" id="neirong1" name="neirong[]"><input type="hidden" value="231" id="stroy" name="stroy[]"><input type="hidden" value="231" id="header1" name="header[]"><br><input style="width: 200px" name="biaoti[]" type="text" class="input"><a href="javascript:;" id="neirong"><span class="ficon ficon-xiugai"></span><a href="javascript:;" id="header" title="封面上传"><span class="ficon ficon-tianjia"></span></a></a><a href="javascript:;" id="del" title="删除"><span class="ficon  ficon-shanchu"></span></a></data>').appendTo('#add');
            });
            $('body').on('click','#neirong' ,function(){
                a=$(this).closest('data').children('#neirong1');
                b=$(this).closest('data').children('#stroy');
				layer.open({
                    title: '描述/故事',
                    content: '<a>描述:<textarea  id="1"></textarea><br>故事:<textarea  id="2"></textarea><br><input id="22" type="submit" value="提交"></a>'
                });

            });
            $('body').on('click','#22',function () {
                var v=$(this).closest('a').children('#1').val();
                var v1=$(this).closest('a').children('#2').val();
                a.val(v);
                b.val(v1);
                alert('成功')
            });
            <!-- 图片上传上传上传-->
			$('body').on('click','#header' ,function(){
                b=$(this).closest('data').children('#header1');
				layer.open({
					title: '封面上传',
					content: '<a><form id="tf" enctype="multipart/form-data" ><img id="img"  style="width: 100px;height: 100px"><br><input name="file" type="file"></form><button id="23">提交</button></a>'
				});
			});
			$('body').on('click','#23',function () {
			    var img=$(this).closest('a').children('#tf').children('#img');
				var form=new  FormData($(this).closest('a').children('#tf')[0]);
//                var formData = new FormData($( "#uploadForm" )[0]);
                $.ajax({
                    url: 'index.php?p=admin&c=toupiao&a=image' ,
                    type: 'POST',
                    data: form,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (msg) {
                        b.val(msg);
                        img.attr('src',msg);

                    },
                    error: function (returndata) {
                        alert(returndata);
                    }
                });
            });
            <!-- 删除-->
			$('body').on('click','#del' ,function(){
				$(this).closest('data').remove();
			});




	     	</script>

</body>

</html>